// @Author: sarahnouh
// @Date:   2019-08-15T06:16:08+02:00
// @Last modified by:   sarahnouh
// @Last modified time: 2019-08-16T05:15:29+02:00
.movies-list {
  margin-top: 5%;
  margin-bottom: 5%;
  .header {
    font-family: "Beth Ellen", cursive;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 4%;
  }
  .movie-item {
    background-image: url("../../images/movie_card_pink.png");
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 7%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    .edit {
      position: absolute;
      left: 6%;
      bottom: 14%;
      fill: $blue;
      width: 22px;
      cursor: pointer;
    }
    .delete {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 12%;
      right: 5%;
      fill: $salmon;
      cursor: pointer;
    }
    .movie-name {
      font-family: "Beth Ellen", cursive;
      line-height: 1.8em;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .movie-year,
    .movie-budget,
    .movie-genre {
      margin: 0;
      color: $blue;
      font-weight: 700;
    }
    .movie-genre {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
